{% extends 'base_generic.html' %}

{% block title %}Remote Event Details{% endblock %}

{% block content %}
  <div class="container py-5">
    <h1 class="text-center mb-4">{{ event.name }}</h1>
    <h4 class="text-muted text-center">Teams and Scores</h4>

    <!-- Display teams and their scores -->
    <div class="row">
        {% for team in event.teams.all %}
            <div class="col-md-4 mb-4">
                <div class="card shadow border-light">
                    <div class="card-body text-center">
                        <h5 class="card-title text-primary">{{ team.name }}</h5>
                        <p class="card-text">
                            <span class="font-weight-bold">Score: </span><span id="score-{{ team.id }}">{{ team.score }}</span>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="{% url 'event_list' %}" class="btn btn-outline-secondary mt-4">Back to Events</a>
  </div>

  <script>
    // Use JavaScript to periodically check for updated scores
    setInterval(function() {
        fetch('/get_event_scores/{{ event.pk }}')
            .then(response => response.json())
            .then(data => {
                data.teams.forEach(team => {
                    document.getElementById('score-' + team.id).innerText = team.score;
                });
            })
            .catch(error => console.error('Error fetching updated scores:', error));
    }, 2000); // Refresh every 5 seconds
  </script>

{% endblock %}
